{% extends "base-with-menu.html" %}
{% load static compress %}
{% load i18n %}

{% block title %}{% trans "Rankings" %}{% endblock %}

{% block styles %}
{{ block.super }}
<link href="{% static "rankings/ranking.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main-content %}
	<h1>{% trans "Rankings" %}</h1>

	<div style="text-align: right">
		{% if can_admin %}
				<a role="button" class="btn btn-sm btn-default text-center" href="{% url "ranking_csv" ranking.pk %}">
					<span class="glyphicon glyphicon-save-file"></span>
					{% trans "Download CSV" %}
				</a>
				<a role="button" class="btn btn-sm btn-default text-center {% if not generated_at %}disabled{% endif %}" href="{% url "ranking_cache_flush" ranking.pk %}">
					<span class="glyphicon glyphicon-refresh"></span>
					{% trans "Recalculate" %}
				</a>
		{% endif %}
		<a role="button" class="btn btn-sm btn-default text-center" href="{% url "ranking_privacy" %}">
		    <span class="glyphicon glyphicon-sunglasses"></span>
		    {% trans "Privacy settings" %}
		</a>
	</div>


	<ul class="nav nav-tabs" style="margin-top:1em; margin-bottom:2em;">
		{% for r in rankings %}
			<li role="presentation" class="{% ifequal r.name ranking.name %}active{% endifequal %}"><a href="{% url "ranking" r.pk %}">{{ r.name }}</a></li>
		{% endfor %}
	</ul>

	{% if generated_at %}
		<small style="color: gray">{{ generated_at|date:"H:i:s" }}</small>
	{% endif %}



	{{ rendered_ranking }}
	<!--
	generate: {{ timing.generate }}
	finalize: {{ timing.finalize }}
	queries: {{ timing.queries }}
	-->
{% endblock %}
