{% load ranking_scores static simple_filters %}

<table class="ranking">
	<thead>
		<tr>
			<th>Pos.</th>
			<th>Competitor</th>
			
			{% for column in data.columns %}
				<th>{{ column.render_header }}</th>
			{% endfor %}

			{% for summary, _ in data.row_summary %}
				<th>{{ summary }}</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
        {{ data }}
		{% for row, medal in data.data|zip:medals %}
		<tr class="{{medal}}">
			<td class="place">{{ row.place }}</td>
			<td class="full_name">{{ row.user.get_full_name }}</td>

			{% for score in row.scores %}
				<td class="score{{ score|score_classes }}">{{ score|render_score }}</td>
			{% endfor %}

			{% for f in data.row_summary %}
				<td class="row_summary">{{ f|call_summary:row }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
<pre>
{{debug}}

{{data.row_summary}}
</pre>
