{% extends "registration/login.html" %}
{% block banner %}
        <div class="alert alert-success col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="margin-bottom:2em">
                <h4 style="text-align:center">Witamy na nowym SIO2!</h4><br>
                Konta założone przed 19.08.2018 utraciły ważność.
                <!--<b>Jeżeli jesteś uczniem Staszica i posiadasz konto szkolne, możesz użyć go do zalogowania się.</b>-->
                Konieczne jest założenie nowego konta.<br><br> 
                <a href="{% url 'blog' %}"><b>FAQ</b>: Poważnie? Dlaczego? Gdzie moje dane? Co jest nowego?</a>
        </div>
{% endblock %}
