<p>System Polygon to profesjonalny system przygotowania zadań rozwijany przez twórców
portalu Codeforces. System Polygon znajduje się tu: <a href="https://polygon.codeforces.com/">https://polygon.codeforces.com/</a>.
Przed importem zadania należy nadać uprawnienia do modyfikacji zadania użytkownikowi <strong>staszic-sio2</strong>.</p>

<form enctype="multipart/form-data" method="post">
	{% csrf_token %}
	{% include "ingredients/form.html" %}

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Jaha</button>
	</div>
</form>
