{% extends "simple-centered.html" %}
{% load i18n %}

{% block title %}{% trans 'Select contest' %}{% endblock %}

{% block content %}

<h1>{% trans 'Select contest' %}</h1>

<script>
function install_toggle() {
    $('.toggle-cg').click(function(ev) {
        let x = $(ev.target).data('cg');
        $('.cg-' + x).toggle();
    });
}

$(document).ready(install_toggle);
</script>

<!--<div class="alert alert-danger">Trwają prace techniczne, zgłoszenia mogą sprawdzać się wolniej, wolno, wcale lub niepoprawnie. Za utrudnienia uprzejmie przepraszamy. SIO2 powinno wrócić do pełnej sprawności około godziny 11:30.</div>-->
<table class="table">
    <thead>
        <tr><th style="width: 100px">{% trans "ID" %}</th><th>{% trans "Name" %}</th></tr>
    </thead>
    <tbody>
        {% for indent,group,contests in tree %}
        <tr>
            <td colspan="2" style="text-align: center; font-weight:bold">
                    {% for sup in group.path %}
                        {% if not forloop.first %}
                            <span style="color:gray; padding-left: 0.5em; padding-right:0.5em">/</span>
                        {% endif %}
                        {% if forloop.last %}
                            <a href="#" class="toggle-cg" data-cg="{{group.pk}}">
                                {{ sup.name }}
                            </a>
                        {% else %}
                            <span style="color: gray"> {{ sup.name }} </span>
                        {% endif %} 
                    {% endfor %}
            </td>
        </tr>
        {% for contest in contests %}
        <tr class="cg-{{group.pk}}" style="display: none">
            <td>{{ contest.id }}</td>
            <td><a href="{% url 'default_contest_view' contest_id=contest.id %}">{{ contest.name }}</a></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}

